.row
  .col-sm-4.text-center
    %h2 New review for:
  .col-sm-8
    %h3= link_to @review.book.title, shop_book_path(@review.book)
.row
  .col-sm-offset-2.col-sm-8
    = form_for @review, url: shop_book_reviews_path, html: {role: 'form'} do |review_f|
      = review_f.hidden_field :user_id, value: current_user.id
      = review_f.hidden_field :book_id, value: @review.book.id
      .form-group
        = review_f.label :title, 'Title'
        = review_f.text_field :title, class: 'form-control'
      .form-group
        = review_f.label :vote, 'Rating'
        .vote
      .form-group
        = review_f.label :text, 'Text review'
        = review_f.text_area :text, class: 'form-control', rows: '10'
      .form-group
        .pull-left= review_f.submit 'Add', class: 'btn btn-primary'
        .pull-right= link_to 'Cancel', shop_book_path(@review.book), class: 'btn btn-default'
