- order_summary = true if order_summary.nil?
%h1= t('views.checkout.title').mb_chars.capitalize
#checkout_panel
  - [
  -  { val: t('views.checkout.panel.addresses'), name: 'addresses' },
     { val: t('views.checkout.panel.delivery'), name: 'delivery' },
     { val: t('views.checkout.panel.payment'), name: 'payment' },
     { val: t('views.checkout.panel.confirm'), name: 'confirm' },
     { val: t('views.checkout.panel.complete'), name: 'complete' }
  - ].each_with_index do |step_data, i|
    - defined = (i == 0 && @order.billing_address) ||
    -           (i == 1 && @order.delivery) ||
    -           (i == 2 && @order.credit_card) ||
    -           (i == 3 && @order.billing_address && @order.delivery && @order.credit_card.try(:persisted?))
    - unless i == 0
      %span.glyphicon.glyphicon-chevron-right
    - if i+1 == step
      %span.step.current.text-primary= step_data[:val].mb_chars.upcase
    - elsif i < 3 && defined
      %span.step.text-success= link_to step_data[:val].mb_chars.upcase, eval("edit_checkout_#{step_data[:name]}_path")
    - elsif i == 3 && defined
      %span.step.text-success= link_to step_data[:val].mb_chars.upcase, eval("checkout_#{step_data[:name]}_path")
    - else
      %span.step= step_data[:val].mb_chars.upcase
#checkout_data
  - if order_summary
    .row
      .col-sm-8
        = yield :checkout_data
      .col-sm-4
        = render "checkout/order_summary"
  - else
    = yield :checkout_data
