%h1 Settings
.row
  .col-sm-6
    = form_for @user, method: :post, url: billing_address_user_settings_path, html: {role: 'form', id: 'edit_user_billing_address'} do |user_f|
      = render "partials/address_fields", address: @billing_address, type: :billing, object: user_f
      .form-group
        = user_f.submit t('btn.save').mb_chars.capitalize, class: 'btn btn-primary'
  .col-sm-6
    = form_for @user, method: :post, url: shipping_address_user_settings_path, html: {role: 'form', id: 'edit_user_shipping_address'} do |user_f|
      = render "partials/address_fields", address: @shipping_address, type: :shipping, object: user_f
      .form-group
        = user_f.submit t('btn.save').mb_chars.capitalize, class: 'btn btn-primary'
.row
  .col-sm-6
    = form_for @user, method: :post, url: email_user_settings_path, html: {role: 'form', id: 'edit_user_email'} do |user_f|
      %h3.text-center= t('activerecord.attributes.user.email').mb_chars.upcase
      %br
      .form-group
        = user_f.text_field :email, class: 'form-control'
        - error_message @user, :email
      .form-group
        =user_f.submit t('btn.save').mb_chars.capitalize, class: 'btn btn-primary'
    %br
    %hr
    %h3= t('views.user.settings.remove_account.title').mb_chars.upcase
    = form_tag(remove_user_user_settings_path, id: 'remove_user_account') do
      .form-group
        = submit_tag t('views.user.settings.remove_account.btn').mb_chars.upcase, class: 'btn btn-danger'
      .form-group
        = check_box_tag :confirm
        = label_tag :confirm, t('views.user.settings.remove_account.confirm').mb_chars.capitalize

  .col-sm-6
    = form_for @user, method: :post, url: password_user_settings_path, html: {role: 'form', id: 'change_user_password'} do |user_f|
      %h3.text-center= t('activerecord.attributes.user.password').mb_chars.upcase
      .form-group
        = user_f.label :current_password, t('views.user.settings.password.old_lable').mb_chars.capitalize
        = user_f.password_field :current_password, class: 'form-control'
        - error_message @user, :current_password
      .form-group
        = user_f.label :password, t('views.user.settings.password.new_lable').mb_chars.capitalize
        = user_f.password_field :password, autocomplete: 'off', class: 'form-control'
        - error_message @user, :password
      .form-group
        = user_f.label :password_confirmation, t('views.user.settings.password.confirm_lable').mb_chars.capitalize
        = user_f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
        - error_message @user, :password_confirmation
      .form-group
        = user_f.submit t('btn.save').mb_chars.capitalize, class: 'btn btn-primary'
