%h1 Settings
.row
  .col-sm-6
    = form_for @user, method: :post, url: billing_address_user_settings_path, html: {role: 'form'} do |user_f|
      = render "partials/address_fields", address: @billing_address, type: :billing, object: user_f
      .form-group
        = user_f.submit 'Save', class: 'btn btn-primary'
  .col-sm-6
    = form_for @user, method: :post, url: shipping_address_user_settings_path, html: {role: 'form'} do |user_f|
      = render "partials/address_fields", address: @shipping_address, type: :shipping, object: user_f
      .form-group
        = user_f.submit 'Save', class: 'btn btn-primary'
.text-center= render 'partials/errors_messages', entity: @user
.row
  .col-sm-6
    = form_for @user, method: :post, url: email_user_settings_path, html: {role: 'form'} do |user_f|
      %h3.text-center EMAIL
      .form-group
        = user_f.text_field :email, class: 'form-control'
      .form-group
        =user_f.submit 'Save', class: 'btn btn-primary'
    %br
    %hr
    %h3 REMOVE ACCOUNT
    = form_tag(remove_user_user_settings_path) do
      .form-group
        = submit_tag 'please remove my account'.upcase, class: 'btn btn-danger'
      .form-group
        = check_box_tag :confirm
        = label_tag :confirm, "I understand that all data will be lost"

  .col-sm-6
    = form_for @user, method: :post, url: password_user_settings_path, html: {role: 'form'} do |user_f|
      %h3.text-center PASSWORD
      .form-group
        = user_f.label :current_password, 'Old password'
        = user_f.password_field :current_password, class: 'form-control'
      .form-group
        = user_f.label :password, 'New password'
        = user_f.password_field :password, autocomplete: 'off', class: 'form-control'
      .form-group
        = user_f.label :password_confirmation, 'Confirm your new password'
        = user_f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      .form-group
        = user_f.submit 'Save', class: 'btn btn-primary'
