.review
  .review_head
    %span.vote_ready{'data-score': review.vote}
    %span= review.title
    %span.small= l(review.created_at, format: :review)
  .review_author
    = t('views.partials.review.by')
    %span.author_name= review.user.email
  .review_text= review.text
