%h1 Checkout
#checkout_panel
  - ['addresses', 'delivery', 'payment', 'confinm', 'complete'].each_with_index do |step_name, i|
    - unless i == 0
      %span.glyphicon.glyphicon-chevron-right
    - if i+1 == step
      %span.step.current.text-primary= step_name.upcase
    - elsif i+1 < step && step < 5
      %span.step.text-success= link_to step_name.upcase, eval("edit_order_#{step_name}")
    - else
      %span.step= step_name.upcase




  -# %span.glyphicon.glyphicon-chevron-right
  -# %span.step.step_2 DELIVERY
  -# %span.glyphicon.glyphicon-chevron-right
  -# %span.step.step_3 PAYMENT
  -# %span.glyphicon.glyphicon-chevron-right
  -# %span.step.step_4 CONFIRM
  -# %span.glyphicon.glyphicon-chevron-right
  -# %span.step.step_5 COMPLETE

#checkout_data
  = yield :checkout_data
