%h2.text-center= t('.forgot_your_password')
%br
.row
  .col-xs-offset-3.col-xs-6
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!

      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'

      .form-group
        = f.submit t('.send_me_reset_password_instructions'), class: 'btn btn-primary'
