- content_for :checkout_data do
  = form_for @order, url: checkout_addresses_path, method: 'put', html: {role: 'form'} do |order|
    .row
      .col-md-6
        = render 'partials/address_fields', type: :billing, object: order, address: @order.billing_address
      .col-md-6
        = render 'partials/address_fields', type: :shipping, object: order, address: @order.shipping_address
    .row
      .col-md-6
        .form-group
          = order.submit t('views.checkout.btn.save_and_cont').mb_chars.capitalize, class: 'btn btn-primary form-control'
      .col-md-6
        .form-group
          - if @order.billing_address == @order.shipping_address
            = check_box_tag(:once_address, 1, checked: true)
          - else
            = check_box_tag(:once_address, 1)
          = label_tag(:once_address, t('views.checkout.addresses.once_address_label').mb_chars.capitalize)

= render 'checkout/wraper', step: @step
