%h2.text-center
  = t('views.pages.home.bestsellers_title')
#carousel-bestsellers.carousel.slide{'data-ride': "carousel", "data-interval": "6000"}
  %ol.carousel-indicators
    %li.active{'data-target': "#carousel-bestsellers", 'data-slide-to': "0"}
    %li{'data-target': "#carousel-bestsellers", 'data-slide-to': "1"}
    %li{'data-target': "#carousel-bestsellers", 'data-slide-to': "2"}

  .carousel-inner
    - @books.each_with_index do |book, i|
      .item{class: "#{i==0? 'active': ''}"}
        .caption
          %h3
            = link_to book.title, shop_book_path(book)
            %small
              %i= "#{t('views.pages.home.by')} #{authors_list book.authors}"
        .row
          .col-md-4
            .div_image
              = image_tag(book.image_url, class: 'img-thumbnail')
          .col-md-8
            %p.description
              = book.full_description

  %a.left.carousel-control{ href: "#carousel-bestsellers", 'data-slide': "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{ href: "#carousel-bestsellers", 'data-slide': "next"}
    %span.glyphicon.glyphicon-chevron-right

%h1.text-center
  = t('views.pages.home.welcome' ,shop_name: 'MAP-BookStore')
